#测试库
[LOGIN]
login=/appapi/customer/uucas/v1/registerLogin

[CODE]
getCode=/appapi/customer/uucas/v1/getVerificationCode
checkCode=/appapi/customer/uucas/v1/checkVerificationCode


[RECOMMEND]
recommendCustomer = /appapi/broker/recommend/v1/recommendCustomer
recommendCount = /appapi/broker/recommend/v1/recommendCount

[MIDDLE_MEMBER_CENTER]
recommend_limit = /omc/webapi/broker/admin/v1/selectRecommendLimit
selectProductByType = /omc/dictionary/webapi/sysconfig/selectProductByType

